<manifest package="org.samcrow.xbeenet"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:label="@string/app_name">
        <service
            android:name=".XBeeService"
            android:exported="false"/>
    </application>


</manifest>
